In [1]:
import numpy as np
import pandas as pd

In [9]:
s1 = pd.Series([1,2,3,4,5])

In [8]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

s1.index="a"

In [12]:
s2 = pd.Series([1,2,3], index=['A','B','C'])

In [13]:
s2

A    1
B    2
C    3
dtype: int64

In [14]:
df = pd.DataFrame({"Names" : ["Shreya","Shruti","Sakshi"], "Marks" : [90,99, 92]})

In [15]:
df

    Names  Marks
0  Shreya     90
1  Shruti     99
2  Sakshi     92

In [17]:
df.max()

Names    Shruti
Marks        99
dtype: object

In [18]:
df.min()

Names    Sakshi
Marks        90
dtype: object

In [20]:
df.describe()

           Marks
count   3.000000
mean   93.666667
std     4.725816
min    90.000000
25%    91.000000
50%    92.000000
75%    95.500000
max    99.000000

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Names   3 non-null      object
 1   Marks   3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [22]:
df.shape

(3, 2)

In [23]:
df["Names"]

0    Shreya
1    Shruti
2    Sakshi
Name: Names, dtype: object

In [24]:
df["Marks"]

0    90
1    99
2    92
Name: Marks, dtype: int64

In [25]:
df.loc[0]

Names    Shreya
Marks        90
Name: 0, dtype: object

In [26]:
df.iloc[1]

Names    Shruti
Marks        99
Name: 1, dtype: object

In [28]:
df1 = pd.DataFrame({"Names" : ["Shreya","Shruti","Sakshi"], "Marks" : [90,99, 92]})

In [29]:
df2 = pd.DataFrame({"Names" : ["shree","shravani","sai"], "Marks" : [80,89, 82]})

In [30]:
pd.concat([df1,df2])

      Names  Marks
0    Shreya     90
1    Shruti     99
2    Sakshi     92
0     shree     80
1  shravani     89
2       sai     82

In [33]:
pd.merge(df1,df2, on="Names")

Empty DataFrame
Columns: [Names, Marks_x, Marks_y]
Index: []

In [34]:
df3 =  pd.DataFrame({"Names" : ["shree","shravani"], "Roll No" : [12,13]})

In [35]:
pd.merge(df2,df3, on="Names")

      Names  Marks  Roll No
0     shree     80       12
1  shravani     89       13

ValueError: Of the four parameters: start, end, periods, and freq, exactly three must be specified